node_modules/
package-lock.json
.env
build/

py/
yarn-error.log
yarn.lock
.env
.DS_Store

/certificates
*.env

# *test*.js
*.txt
dump.rdb
nodemon.json

#ignore specific files.
test.js
test2.js
/ssl
/cert